<h1>*** ALL TRANSACTIONS ***</h1>

<h2>Total Amount Spent: £<%= @total_amount %></h2>


<div class="container">
  <form action="/transactions/filter" method="POST">
    <label for="month-select">Month:</label>
    <select name="month_num" id="months">
      <option value="" selected disabled hidden>Select</option>
      <% for month in @months%>
        <option value=<%= (@months.index(month)+1) %>><%= month %></option>
      <% end %>
    </select>

    <label for="tag-select">Tag:</label>
    <select name= "tag_id" id="tags">
      <option value="" selected disabled hidden>Select</option>
      <% for tag in @tags%>
        <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>

    <input type="submit" value="filter">

  </form>
</div>

<div class="container">
  <form action="/transactions/sorted" method="POST">
    <label for="newest">New</label>
    <input type="radio" name="sort_by" value="newest" checked>
    <label for="oldest">Old</label>
    <input type="radio" name="sort_by" value="oldest">
    <input type="submit" value="sort_by">
  </form>
</div>



<% for transaction in @transactions %>
  <p>Merchant: <%= transaction.merchant().name %></p>
  <p>Tag: <%= transaction.tag().name%></p>
  <p>Description: <%= transaction.description %></p>
  <p>Amount: <%= transaction.amount %></p>
  <p>Timestamp: <%= transaction.timestamp() %></p>
<% end %>
